hf-cache/
data/models/
wheels/

data/fire_data/
data/*.mp4
*.mp4
*.avi
*.mov
*.mkv

data/classifier_out/
data/classifier_outA/
data/output/
data/output_txt
data/out_txt
logs/
*.jsonl
*.log

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

*.engine
*.onnx
*.pt
*.pth
*.bin
*.safetensors

.vscode/
.idea/
.DS_Store
Thumbs.db

nano_llm/*
!nano_llm/
!nano_llm/vision/
nano_llm/vision/*
!nano_llm/vision/video.py
